.bg-blk {
  background-color: #37474f;
}

.brdr-r-10 {
  border-radius: 10px;
}
.brdr-r-20 {
  border-radius: 20px;
}

.txt-g {
  color: #858585;
  padding: 2px;
}

.brdr {
  border: 1px solid #636363;
  box-shadow: 0px 0px 20px 2px inset #6363634d;
}

.text-num {
  border-radius: 30px;
  font-size: 13px;
  padding-top: 2px;
  padding-bottom: 2px;
  right: 12%;
  top: 9.2%;
  background-color: #ff9580;
}

.fakeclass {
  width: 100vw;
}

/* Sidebar */

.side-icon {
  font-size: 1.2rem;
}

.side-right {
  position: fixed;
  left: 0%;
  display: flex;
  height: 92vh;
  top: 8.8%;
}

.head-div {
  padding: 24px 18px;
}

.head-div > .toggled {
  padding: 24px 32px !important;
}

.konzrO > .toggled {
  padding: 24px 29px !important;
}

.konzrO .head-div .icon-suffix {
  margin: 0px 7px;
  cursor: pointer;
}

.konzrO .head-div .head-text {
  margin: 0px 0px;
}

.haurBG {
  height: 100%;
  position: relative;
  z-index: 101;
  background-color: #202b30;
}

.hYdpPE {
  list-style: none;
  /* margin: 10px 15px; */
}

.eaAca-d .activeClicked > li {
  background: transparent !important;
  color: green !important;
  border-left: 3px solid green;
}

.activelist > li {
  background: transparent !important;
  color: green !important;
  /* border-left: 3px solid green; */
}

.hYdpPE {
  list-style: none;
  margin: 0px !important;
}

/* Dashboard */
.f-hello {
  font-size: 100rem;
}

.bg-grey {
  background-color: #e5e5e5;
}
.bg-greyM {
  background-color: #ebeef0;
}
.bg-greyL {
  background-color: #fafafa;
}

.bg-bl {
  background-color: #4086f4;
}

.bg-Lbl {
  background-color: #f7faff;
}

.brdr-ggl {
  border: 1px solid #ced2d9;
}

.brdr-r-5 {
  border-radius: 15px;
}

.drpdwn-green,
.drpdwn-green option {
  border: 1px solid #ccc !important;
  outline: none !important;
}

.drpdwn-green:focus-visible,
.drpdwn-green:focus,
.drpdwn-green:active {
  border: 1px solid #2adc65;
  outline: none;
}

.drpdwn-green option {
  border-radius: 10px;
}

.b-img-g {
  border: 3px solid #9aaa9a4f;
  border-radius: 10px;
  background-color: #daf7da;
}
.b-img-r {
  border: 3px solid #fddbd0;
  border-radius: 10px;
  background-color: #fde3dc;
}
.b-img-b {
  border: 3px solid #d9e9ff;
  border-radius: 10px;
  background-color: #e5f0ff;
}

.fnt-w {
  font-weight: 700;
}

.brdr-g {
  border: 1px solid #ccc;
}

.Aff-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #3d484d;
}

.Aff-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.srch-bar {
  border: 1px solid #ccc;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  /* line-height: 16px; */
}
.brdr-r-1 {
  border-radius: 7px;
}

.brdr-r-2 {
  border-radius: 10px;
}
.brdr-r-6 {
  border-radius: 20px;
}

.width-10 {
  width: 102.8% !important;
  margin-left: -1.4%;
}

.brdr-t {
  border-top: 1px solid #e2dddde3;
}

.Not-num {
  background-color: #e0f9e0;
  color: #2adc65;
  border: none;
}

.btn-peruser {
  list-style-type: none;
}

.rapdtu {
  box-shadow: 0px 13px 14px 0px #808080b5;
  z-index: 1;
  border: 1px solid #c2c9cc;
}

.btn-chng {
  border: 1px solid #c2c9cc;
  background-color: #f0f3f5;
}

.plybtn {
  height: 2vh;
}

.cnlbtn {
  right: 0%;
}

.brdr-r-gr {
  border: 1px solid #c2c9cc;
}
.brdr-r-S {
  border: 1px solid #ffc6b2;
}

.brdr-r-B {
  border: 1px solid #b2d3ff;
}

.brdr-r-P {
  border: 1px solid #d9b2ff;
}

.brdr-r-G {
  border: 1px solid #aaf2c2;
}
.brdr-r-Pr {
  border: 1px solid #c93f8d;
}
.brdr-r-W {
  border: 1px solid transparent;
}
.brdr-r-Bl {
  border: 1px solid #469696;
}
.brdr-r-Or {
  border: 1px solid #ff5a4c;
}
.brdr-r-GG {
  border: 2px solid #2adc65;
}

.bg-r {
  background-color: #fff5f2;
}

.bg-b {
  background-color: #f2f8ff;
}

.bg-p {
  background-color: #f9f2ff;
}
.bg-g {
  background-color: #edfff3;
}

.bg-dg {
  background-color: #37474f;
}

.bg-lg {
  background-color: #fafafa;
}
.bg-gg {
  background-color: #f7f9fa;
}

.bg-orng {
  background-color: #ff6040;
}

.bg-rgk {
  background-color: #e9f5ed;
}

.bg-Y {
  background-color: #ffb900;
}
.bg-Sb {
  background-color: #2196f3;
}
.bg-Green {
  background-color: #2adc65;
}
.bg-LGreen {
  background-color: #dcf5dc;
}

.evty {
  text-align: center;
  font-weight: 700;
  padding-top: 2rem;
}

.mngusr {
  height: 96.5vh;
}

.setup {
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.pgstup {
  margin-top: 3.8%;
}

.hrww {
  width: 47vw;
}
.hrw {
  width: 44vw;
}
.iw {
  width: 45.5vw;
}
.shrw {
  width: 31.5vw;
}

.pgw-70 {
  height: 81vh;
}

.upnwlnk:hover {
  color: #2adc65;
}

.adst {
  width: 81.44vw;
  height: 217vh;
  background-color: #000000bf;
  /* z-index: 999; */
  top: 0.5%;
}

.adstcnt {
  top: 32.5%;
  left: 27%;
}

#quantity {
  width: 5vw;
}

.txt-sdbr {
  color: #202b30;
}

.brdr-b-g-2 {
  border-bottom: 4px solid #2adc65;
  border-radius: 5px;
}

.flwup1:hover {
  text-decoration: none;
  color: #2adc65;
}

.w-88 {
  width: 88%;
}

.font-15 {
  font-size: 15px;
}
.font-13 {
  font-size: 13px;
}

.w-15 {
  width: 6vw;
}

.cdtl {
  overflow-y: scroll;
}

.ifobg {
  background-color: #f0f1f2 !important;
}

.emlpA {
  top: -0.2%;
}

.btn-primary {
  color: #fff;
  background-color: #2adc65 !important;
  border-color: transparent !important;
  outline: transparent;
  border-radius: 20px !important;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: none !important;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start !important;
  padding: 0.75rem;
  border-top: none !important;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.brdr-bl {
  border: 1px solid #4086f4;
}

.chck-icn {
  right: 2%;
  top: 2%;
}
.chck-icn5 {
  left: 73%;
  top: -9%;
}
.chck-icn1 {
  left: 59%;
  top: -14%;
}
.chck-icn2 {
  left: 41%;
  top: -14%;
}
.chck-icn3 {
  left: 22%;
  top: -14%;
}
.chck-icn4 {
  left: 5%;
  top: -14%;
}

.dt-brdr {
  border: 1px dotted #ccc;
}

.clr-btn {
  border-radius: 30px;
}

.demo {
  z-index: 999;
  width: 100;
}

.font-20 {
  font-size: 20px;
}

.chtm {
  top: -29%;
  left: 6%;
}
.chtmr {
  top: -29%;
  right: 6%;
}
