.box-shadow {
  box-shadow: -1px 3px 12px 0px #80808038;
}

.align-left {
  text-align: left;
}

.bggroup {
  position: absolute;
  top: 12%;
}

.Bgshade {
  position: absolute;
  bottom: 16.95%;
  right: 46px;
  width: 54vw;
  height: 51.6vh;
}
.Bgshade > img {
  width: 57vw;
}
.Bgimage {
  position: absolute;
  bottom: 25%;
  right: 8%;
  width: 39vw;
  height: 56vh;
}

.Bgimage > img {
  width: 29vw;
}

.heading,
.heading1 {
  /* font-family: Gilroy; */
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  color: #001a40;
}

.heading1,
.clr-green,
.font-green {
  color: #2adc65;
}

.font-red {
  color: #ff6633;
}

.font-blue {
  color: #ff6633;
}

.font-grey {
  color: #6c7a80;
}

.font-orange {
  color: #ff6633;
}
.font-purple {
  color: #c93f8d;
}
.font-blue {
  color: #469696;
}
.font-or {
  color: #ff5a4c;
}

.mt-10 {
  margin-top: 6%;
}

.mt-7 {
  margin-top: 7%;
}

.para {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #303640;
}

.input1 {
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 11px 2px #80808047;
}

.btn-r {
  border-radius: 30px;
}

.g-btn {
  background-color: #2adc65;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height */

  color: #ffffff;
}

.signup-btn {
  background-color: #001a40;
  border: none;
}

.btn-bg-green {
  background-color: #2adc65;
  border: none;
}

.border-dot {
  border-bottom: dotted;
  text-decoration: none;
}

.btn-p {
  left: 16rem;
}

.paraC {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
}

.align-right {
  text-align: right;
}

.logoimg {
  width: 12vw;
}

.himail {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #303640;
}

.box {
  box-shadow: 0px 0px 10px 0px #80808057;
  border: 1px solid #cccccc85;
  border-radius: 15px;
}

.font-w-100 {
  font-weight: 400;
}

.click-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #2adc65;
}

.d-data {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #303640;
}

.signup-frm-input {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.signup-frm-input::placeholder {
  color: rgb(83, 83, 83);
  font-weight: 500;
}

.para-signupnext3 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #303640;
}

.para1-signupnext3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #303640;
}

.sgnpnxt3-mail-lnk {
  color: #303640;
  text-decoration: none;
  font-weight: bold;
}

.sgnpnxt3-lnk {
  color: #2adc65;
  text-decoration: none;
}

.name-men {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #303640;
}

.para1-signupnext4 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #303640;
}

.sgnpnxt4-lnk {
  color: #2adc65;
  text-decoration: none;
  font-weight: 500;
}

.ovrflw {
  overflow-y: scroll;
  overflow-x: hidden;
}

.clr-grey {
  color: rgb(110, 107, 107);
}

#Lang-drpdwn {
  border: none;
  font-weight: bold;
  font-size: 18px;
}

#Lang-drpdwn:focus-visible {
  border: none;
  outline: none;
}

.box-b {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #edfaf2;
}
.box-w {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #edfaf2;
}

.form-check-input:checked {
  border-color: #2adc65;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px white;
  /* background-image: url("../../../Assets/Vector.png"); */
}
.form-check-input:active {
  border-color: #2adc65;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px white;
  /* background-image: url("../../../Assets/Vector.png"); */
}

.form-check-input:checked[type="radio"] {
  background-image: url("../../../Assets/Vector.png");
}

.wlcm-txt {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  color: #001a40;
}

.clr-grn {
  color: #2adc65;
}

.crt-url {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #001a40;
}
.cnct-email {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #001a40;
}

.crt-p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  color: #303640;
}

.pgname {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #303640;
}

.wlcm-tm-zn {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #001a40;
}

.box-brdr {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 12px #ccc;
}

.box-btm {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.set-btn {
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 20px 3px #ccc;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #606c80;
}
.set-btn1 {
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 20px 3px #ccc;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.bg-green {
  background-color: #2adc65;
}

.bg-blue {
  background-color: #edfaf2;
}

.brdr-grey {
  border: 1px solid #ccc;
}

.chck-email {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  color: #303640;
}

.txt-bold {
  font-weight: bold;
}

.cntnue-wo-btn {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(96, 108, 128, 0.7);
  text-decoration: none;
}

.avl-hours {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  color: #001a40;
}

.time-input {
  border-radius: 8px;
  border: 1px solid #ccc;
}

.hrwl {
  max-width: 100%;
}
