.brdr-r-LT-2 {
    border-top-left-radius: 5px;
}
.brdr-r-LB-2 {
    border-bottom-left-radius: 5px;
}
.brdr-r-LT-10 {
    border-top-left-radius: 10px;
}
.brdr-r-LB-10 {
    border-bottom-left-radius: 10px;
}